<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Results</title>

      <link rel="stylesheet" href="assets/display1.css">


</head>

<body>

  <html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Results</title>
	<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
</head>

<body>
<div class="table-title">
<h3><%= tablename %></h3>
</div>
<table class="table-fill">
<thead>
<tr>
<th class="text-left"><%= header1 %></th>
<th class="text-left"><%= header2 %></th>
</tr>
</thead>
<tbody class="table-hover">
<tr>
<td class="text-left">Name</td>
<td class="text-left"><%= name %></td>
</tr>
<tr>
<td class="text-left">Win Percentage</td>
<td class="text-left"><%= winpercent %></td>
</tr>
<tr>
<td class="text-left">Donations Given/Received</td>
<td class="text-left"><%= donateratio %></td>
</tr>
<tr>
<td class="text-left">Favorite Card</td>
<td class="text-left"><%= favecard %></td>
</tr>
<tr>
<td class="text-left">Maxout All Cards Cost</td>
<td class="text-left"><%= maxoutcost %></td>
</tr>
<tr>
<td class="text-left"># of Cards Available</td>
<td class="text-left"><%= numcards %></td>
</tr>
<tr>
<td class="text-left">Crowns Won Per Game</td>
<td class="text-left"><%= crownstotal %></td>
</tr>
<tr>
<td class="text-left">Opponent Crowns Per Game</td>
<td class="text-left"><%= opponentcrowns %></td>
</tr>
<tr>
<td class="text-left">Avg Match Trophy Advantage</td>
<td class="text-left"><%= trophyadvantage %></td>
</tr>
<tr>
<td class="text-left">Avg Card Level Advantage</td>
<td class="text-left"><%= cardadvantage %></td>
</tr>
</tbody>
</table>


  </body>



</body>

</html>
